# macOS
.DS_Store

# объекты и библиотеки
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll

# исполняемые файлы
*.exe
a.out
test_run

# каталоги сборки
build/
cmake-build-*/
out/

# артефакты make (зависимости)
*.d
